body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
}
h1{
    font-size: 50px;
}
.orange-color{
    color: orange;
}

.flexible-container{
    display: flex;
    bottom: 20px;
    padding-left: 40px;
    padding-top: 20px;
}

.flexible-container{
    display: flex;
    
}




.half-width{
    width: 50%;
    padding-left: 8%;
    padding-right: -10%;
}
.half-width img{
    width: 80%;
}
.link-button{
    text-decoration: none;
    background-color: tomato;
    padding: 10px 40px;
    border-radius: 5px;

}
.top-banner{
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;

}

.dream-big{
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right 150px;
    background-size: 50px;


}